.energySourcesList {
    width: 258px;
    margin: 0;
    margin-left: 1.9375em;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: brown;
    overflow: visible;
}