.header {
    background-color: #020203;
    margin: 0;
    height: 5.6875em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left : 1.8125em;
   /* padding-right : 6.8125em;*/
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.logo {
    width: 11.125em;
}