.header {
    height: 5.6875em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #020203;
}

.logo {
    margin-left: 1.8125em;
    width: 11.125em;
}