.nav--horizontal {
    width : 100%;
    padding-left: 3.625em;
    padding-right: 3.625em;
}

.nav--horizontal ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav--horizontal__link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}