.nav--vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #020203;
    box-sizing: border-box;
    padding-left: 1.625em;
    padding-right: 1.6875em;
}

.iconsList {
  /*  border: 1px solid white;*/
    padding: 0; 
}

.nav--vertical p {
    color: #FFFFFF;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}