.welcome {
    min-height: 8.5625em;
    margin-bottom: 4em;
}

.welcome__title {
    font-weight: 500;
    font-size: 3em;
    line-height: 1.5em;
    margin: 0;
}

.welcome__congrat {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
}

.welcome__userName {
    color: #FF0101;
}